.champion-img img {
    width: 80px;
    height: 80px;
    border-radius: 55px;
    border: 1px solid #73110c;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all .2s ease-in-out;
}
.champion-img img:hover {
    opacity: 0.7;
    transform: scale(1.2);
}

.champion-name {
    text-align: center;
    margin-top: 10px;
}

.champion-name a {
    text-decoration: none;
    color: #73110c;
}

.champion-list {

}

.champion-list li {
    width: 200px;
    margin: 10px;
}
