.races-img {
    max-width: 200px;
    min-width: 150px;
    max-height: 200px;
    min-height: 150px;
}

.box {
    box-sizing: border-box;
    width: 45%;
    float: left;
}

.races-info-container {
    overflow: hidden;
    margin-bottom: 40px;
}

.races-info-container div.box{
    margin: 20px 0;
    padding: 5px;
}

.races-info-container div.box.img{
    width: 30%;
}

.races-info-container div.box.text{
    width: 70%;
}

.races-info-container  h2 {
    margin-bottom: 15px;
}

.races-info-container article::after{
    content: url("../images/separator2.png");
    transform: scale(.5);
    position:relative;
    left: 20px;
}

.races-info-container article:last-child::after{
    content: '';
}

.races-info-container div.box img {
    position: relative;
    left: 10px;
    top: 100px;
}

.races-info-container div.box p {
    text-align: justify;
    font-size: 17px;
}

#races-languages {
    height: 120px;
    display: block;
    margin: 0 auto;
}

