.races-img {
    width: 200px;
    height: 170px;
}

.box {
    box-sizing: border-box;
    width: 45%;
    float: left;
}

.races-info-container {
    overflow: hidden;
    margin-bottom: 40px;
}

.races-info-container div.box{
    margin: 20px 0;
    padding: 5px;
}

.races-info-container div.box.img{
    width: 30%;
}

.races-info-container div.box.text{
    width: 70%;
}

.races-info-container  h2 {
    margin-bottom: 15px;
}

.races-info-container article::after{
    content: url("../images/separator2.png");
    transform: scale(.5);
}

.races-info-container article:last-child::after{
    content: '';
}

.races-info-container div.box img {
    position: relative;
    left: 10px;
    top: 100px;
}

.races-info-container div.box p {
    text-align: justify;
    font-size: 17px;
}

