
@media screen and (max-width : 760px){

}




/* ----------- Non-Retina Screens ----------- */
@media screen
  and (max-width: 1600px) {

}



/* Portrait and Landscape */
@media screen and (max-width: 1000px) {

  html {
    background-image: none;
    background-color: black;
  }

  body {
    width: 100%;
  }

  main {
    width: 100%;
    margin: 0;
    padding: 0;
    position: static;
    border-left: 0px;
    border-right: 0px;
  }

  li a.nav {
    display: block;
    width: 100%;
  }

  img#header-bg, img.right, img#languages-vertical {
    display: none;
  }



  nav {
      position:static;

  }

  ul {
      list-style-type:none;
      margin:0;
      padding:0;

  }

  nav ul li {
      display:block;
      margin: 0;
      width: 100%;
      background: #1e7096; /* Old browsers */
      background: -moz-linear-gradient(top, #1e7096 0%, #163870 11%, #163870 11%, #163870 11%, #0a2b44 18%, #14486b 72%, #163870 92%, #196c96 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #1e7096 0%,#163870 11%,#163870 11%,#163870 11%,#0a2b44 18%,#14486b 72%,#163870 92%,#196c96 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #1e7096 0%,#163870 11%,#163870 11%,#163870 11%,#0a2b44 18%,#14486b 72%,#163870 92%,#196c96 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e7096', endColorstr='#196c96',GradientType=0 ); /* IE6-9 */

  }

  li a.nav {
      display:block;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-decoration: none;
      color: lightblue;

  }

  li:hover a.nav {
    background: #0a2b44; /* Old browsers */
    background: -moz-linear-gradient(top, #0a2b44 0%, #163870 11%, #163870 11%, #196c96 28%, #196c96 68%, #196c96 73%, #14486b 89%, #163870 99%, #163870 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0a2b44 0%,#163870 11%,#163870 11%,#196c96 28%,#196c96 68%,#196c96 73%,#14486b 89%,#163870 99%,#163870 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0a2b44 0%,#163870 11%,#163870 11%,#196c96 28%,#196c96 68%,#196c96 73%,#14486b 89%,#163870 99%,#163870 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2b44', endColorstr='#163870',GradientType=0 ); /* IE6-9 */

    background-repeat: no-repeat;
    background-position: center;
  }

  .main-game-img {
    width: 50%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 2%;
    border: 1px solid lightblue;
    border-radius: 20px;
}



  footer {
    border: 0px;
    position: relative;
    padding: 0px;
    text-align: center;
    bottom: 0px;
    left: 75%;
    width: 0;
    height: 0;
    bottom: 0;
  }

footer div {
  display: none;
}


  footer img {
  display: inline-block;
  margin-top: 50px;
  float: none;
  height: auto;
  width: 65px;
  padding: 14px 14px 0 14px;
  position: absolute;
  left: 57%;
  }


  .races-img {
    display: none;
  }

  .races-info-container div.box.text {
    width: 100%;
}

.races-info-container div.box {
    margin: 0;
    padding: 0;
}

.races-info-container article::after {
  display: none;

}



#races-languages {
    height: 81px;
    display: block;
    margin: 0 auto;
}


#animated-champion {
    position: fixed;
    width: auto;
    height: 15%;
    top: 17%;
    left: 89%;
    z-index: 2;
}

.champion-list li {
    width: 33%;
    margin: 10px;
}

    main ul.champion-list {
        list-style-type: none;
        margin: 0 0 0 10%;
        padding: 0;
    }

    .carousel {
        position: relative;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
        margin-top: 26px;
        width: 99%;
        left: 0;
        top: -26px;
        /* border: 2px solid lightblue; */
        border-radius: 5px;
        background-color: lightblue;
        border-top: 2px solid lightblue;
        margin-bottom: 20%;
      }

    }

/* Laptop */
