* {
    margin: 0;
    padding: 0;
}

html {
    background: url(../images/bg-default.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





main {
  background-image: url(../images/main-backgr-blur.jpg);
  background-repeat: repeat-y;
  width: 950px;
  position: relative;
  left: 281px;
  top: -70px;
  z-index: -1;
}

.basic-info {
  width: 800px;
}

.main-game-img {
  width: 200px;
  height: 150px;
}

main {
  border: 15px solid transparent;
   border-image-source: url(../images/frame.png);
   border-image-repeat: stretch;
   border-image-slice: 20;
}

#binary {
  width: 100px;
  height: 100px;
}
