* {
    margin: 0;
    padding: 0;
}

html {
  background: url(../images/bg-default.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;

}


main {
  background-image: url(../images/vintage_paper-1.jpg);
  background-repeat: repeat;
  width: 905px;;
  height: auto;
  position: relative;
  left: 268px;
  top: -70px;
  z-index: 0;
  padding: 30px 20px;
  display: inline-block;;
  overflow: auto;
  margin: 0;
}


main {
   border: 15px solid transparent;
   border-image-source: url(../images/frame.png);
   border-image-repeat: stretch;
   border-image-slice: 20;
}


/* index */
.basic-info {
  width: 100%;
  margin-top: -20px;
}



.main-game-img {
  width: 350px;
  height: 230px;
  margin-right: 50px;
  border: 1px solid lightblue;
  border-radius: 20px;
}



#battle-main {
  width: 400px;
  height: 250px;
  border: 1px solid lightblue;
  border-radius: 15px 15px 15px 5px;
  margin-left: 20px;
}

.right {
  float: right;
  display: inline-block;
}

.left {
  float: left;
}

#main-header {
  font-size: 40px;
}

hr {
  clear:both;
  margin-top: 50px
}

.big-letter p:first-of-type::first-letter {
  font-size: 200%;
  font-family: 'Cookie', serif;
}


#languages-vertical {
    position: absolute;
    opacity: 0.7;
    top: 315px;
    left: 100px;
    width: 200px;
    z-index: 1;
}

#languages-vertical:hover {
  opacity: 1;
}






#languages-vertical {
  animation: mymove 3s;
  animation-fill-mode: forwards;

}

@keyframes mymove {
    from {top: 0px;}
    to {top: 315px;}
}



footer {
  background-color: #bb8e76;
  border: 4px solid #234465;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  position: relative;
  padding: 20px;
  text-align: center;
  bottom: 0px;
  left: 280px;
  width: 900px;

}



footer img {
  display: inline-block;
  float: left;
  height: auto;
  width: 97px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  right: 30px;
}






/*races*/


#races-tech-img-left {
    position: fixed;
    opacity: 0.7;
    top: 375px;
    left: 117px;
    width: 150px;
    z-index: -1;
}

#races-tech-img-right {
    position: fixed;
    opacity: 0.7;
    top: 375px;
    right: 128px;
    width: 150px;
    z-index: -1;
}







/*champions*/

#animated-champion {
    position: fixed;
    width: auto;
    height: 30%;
    top: 67%;
    left: 5%;
    z-index: 2;
}


.champion-img {
  border-image: url(../images/frame-round.png) 30 stretch;
}





/* champions details*/

nav.nav-champ-nav-details {
  position: relative;
  top: 20px;
  left: 50px;
}

ul.ul-champ-nav-details {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 660px;
    background-color: lightblue;
}

li.li-champ-nav-details a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li.li-champ-nav-details {
    display: inline-block;
    width: calc(25% - 4px);
    text-align: center;
}

li.li-champ-nav-details:last-child {
    border-bottom: none;
}


ul.ul-champ-nav-details li:hover:not(.active) {
    background-color: #db943d;
    color: white;
}

ul.ul-champ-nav-details li:first-child:hover {
    border-top-left-radius: 15px;
}

ul.ul-champ-nav-details li:last-child:hover {
    border-top-right-radius: 15px;
}
