* {
    margin: 0;
    padding: 0;
}

html {
    background: url(../images/bg-default.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


main {
  background-image: url(../images/vintage_paper-1.jpg);
  background-repeat: repeat;
  width: 950px;
  position: relative;
  left: 268px;
  top: -70px;
  z-index: 0;
  padding: 30px 20px;
}


main {
  border: 15px solid transparent;
   border-image-source: url(../images/frame.png);
   border-image-repeat: stretch;
   border-image-slice: 20;
}


.basic-info {
  width: 100%;
}

.main-game-img {
  width: 200px;
  height: 150px;
}
#binary {
  width: 100px;
  height: 100px;
}
