@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600|Rasa:400|Cookie');

body, p {
  font-family: 'Josefin Slab', serif;
}

h1, h2, h3, h5, h6 {
  font-family: 'Rasa', serif;
  line-height: 40px;
  padding: 20px;
}

p {
  line-height: 25px;
  margin: 20px;
  font-size: 17px;
}

article {
  margin: 20px;
}

.basic-info {
  padding: 10px;
}
